body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Arial, "Microsoft yahei",'\5B8B\4F53'}
fieldset,img{border:0}
ul,li{list-style:none}
em,i{font-style:normal}
table{border-collapse:separate;border-spacing:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
a:focus,input,button,select,textarea{outline:none;font-size:100%}
h1,h2,h3,h4,h5,h6{font-size:100%;font-variant:normal}
input,select,img{vertical-align:middle}
legend{display:none}
textarea{resize:none}
button{cursor:pointer}
/*html,body{height:100%;width:100%;overflow:hidden;position:relative}*/
/*body{background:#2758a7 url(../images/bigBg.jpg?20150211153) no-repeat center top;background-size:100% auto}*/
body {
    min-height: 736px;
    background: url(../images/bigBg.jpg) 0px 0px / cover no-repeat scroll rgba(0, 0, 0, 0);
}

h1 {
    text-align: center;
    font-size:1.4em;
    background:rgba(0,0,0,0.25);
    padding: 10px 10px 10px 10px;
    color: #fff;
    border: 1px solid #fff;
    border-left: none;
    border-radius: 0 10px 10px 0;
    margin: 20px 20px 0 0;
}
span.logo {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
}
a:-webkit-any-link {
    color: #fff;
}

div.social {
    padding: 10px;
    margin: 20px 0 0 20px;
    background:rgba(0,0,0,0.55);
    border-radius: 10px 0 0 10px;

}

div.social li {
    border-bottom: 1px solid #aaa;
    height: 30px;
    padding-top: 10px;
}

div.social a {
    display: block;
    height: 41px;
}

div.social div.left {
    float: left;
    color: #e1e1e1;
    font-size: 1.1rem;
}
div.social div.right {
    float: right;
}

div.job {
    padding: 10px;
    margin: 20px 20px 0 20px;
    background:rgba(0,0,0,0.55);
    border-radius: 10px 10px 0 0;
    color: #eee;
    font-size: 1.2rem;
}

div.jt {
    font-size: 1.3rem;
}
div.re {
    font-size: 0.9rem;
    color: #aaa;
    border-bottom: 1px solid #aaa;
    padding: 5px 0;
}
div.de {
    padding: 5px 0;
    font-size: 1.0rem;
}
div.job a {
    font-size: 0.9rem;
}



